@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #E9E9DB;
}
ul{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px; 
}
.left_bord{ 
    transform: translate(200px);            
}
li{
   list-style: none;
   padding: 24px;
}
a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.line{
    width: 957px;
    height: 1px;
    background-color: black;
    margin: auto;
    margin-left: 315px;
}
/* .img-header{
    width: 50%; 
}
.text-header{
    font-size: 150px;
    font-weight: 600;
    transform: rotate(-90deg);
    margin: 0;
    padding: 0;
}
 
.main-header{
    display: flex; 
} */

.div_cont{ 
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 50px;
}
.text_lamda{ 
    font-size: 130px;
    transform: rotate(-90deg) translate(70px, 127px) ;
    font-weight: 600;
}
.img-header{
    width: 960px;
    height: 700px;
    transform: translate(-180px);
}
.text_photo{
    color: #E9E9DB;
    font-size: 120px;
    font-weight: 800;
}
.photo{
    transform: translate(-178px, -700px);
}
.photo2{
    transform: translateY(-400px);
    margin-left: 300px;
}
.siv_main_cont{
    height: 800px;
}
.header_div{
    color: #D2564F;
    font-family: 'Playfair Display', serif;
    font-size: 120px;
}
.main_first_pages{
    width: 80%;
    margin: auto;
}
span{
    color: black;
}
.header-h{
    font-weight: 700;
    font-size: 30px;
    margin-top: 100px;
}
.short_text{
    width: 380px;   
    font-size: 13px;
    margin-top: 40px;
}
.main-fol{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.first_image{
    margin-top: 100px;
    position: absolute;
    z-index: 5;
}
.second_image{
    position: absolute;
    z-index: 1; 
}
.img{
    margin-left: -200px;
}
.gallery{
    background-color: #2C2D26;
    color: #E9E9DB;
    margin-top: 150px;
}
.bac_text{
    font-size: 214px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #e9e9db17;
    font-family: 'Playfair Display', serif;
}
.main_text_gallary{
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    transform: translateY(-200px);
}
.card_gallary{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.cont_gallary{

    width: 300px;
    font-size: 13px;
}
.display_text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: 500;
}
.text_header_gall{
    margin-top: 10px;
    font-weight: 800;
    margin-bottom: 20px;
}
.lorem_gall{
    font-weight: 500;
    line-height: 1.4;
}
.vector{
    background: url(./img/vector1.png);
    width: 200px;
    height: 70px;
    background-size: cover;
    background-color: rgb(31, 86, 134);
}
.second_block{
    background-color: #E9E9DB;
}
.block_for_second{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    
}
.img_for_second{
    width: 500px;
    margin-right: 100px;
}
.text_of_text{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    margin-bottom: 30px;
}
.lorem2{
    width: 400px;
}
.img_for_second1{
    width: 500px; 
}
.part{ 
    background-color: #D2564F;
}
.bac_text1{
 margin: auto;
    width: 80%;
    font-size: 274px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #e9e9db17;
    font-family: 'Playfair Display', serif;
}
.part_block_main{
    margin: auto;
}
.part_block{ 
    display: flex;
    justify-content: space-between;

}
.img8{
    width: 380px;
    margin-left: 80px;
}
.cont_part_block{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.celeb{
    font-size: 54px;
    color: #E9E9DB;
    font-family: 'Playfair Display', serif;
    line-height: 0.9;

}
span{
    font-size: 190px;
    color: #E9E9DB;
    font-family: 'Playfair Display', serif;
    line-height: 0.3;
}
footer{
    background-color: #2C2D26;
}
.footer{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}
.footer_name{
    color: #E9E9DB;
}
.footer_text{
    color: #e9e9db7b;
}
.text19{
    line-height: 2;
}
.site_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E9E9DB;
    padding-bottom: 120px;
    padding-top: 60px;
    line-height: 2;
}
.div_name{
    font-size: 90px;
}